smart-contracts:
  gas-limit: 1537000
  contract-address:
    mint-token: "0x85a19FFF52B23f6A26cdE2072c5bAB1f46204F1e"
    sale-token: "0x47D09DCa78E9bBb8D303f57Fcc031F74DC7095b7"
  eoa:
    system-private-key: "4334f409334858cae7cb2413c393f3c6435324411c8e0cdf9f987f209ccb654d"
    sample-private-key: "606ec4972e7222e3d05b08e28648fea50feed7d6f0c9549c7960c724907c1a8d"

ipfs:
  prefix-url: http://localhost:8080/ipfs/%s
  address: /ip4/127.0.0.1/tcp/5001
